body    {
    margin:0px;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(circle at center, red, blue, rgb(14, 139, 0), rgb(255, 174, 0));
    background-size: 400% 400%;
    animation: gradientefondo 8s ease 0s infinite alternate forwards;
}

@keyframes gradientefondo {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container  {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
}

.container::before  {
    content:"";
    position: absolute;
    inset: 0;
    background-image: url(/img/painting.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 70%;
}

.element1   {
    padding: 50px 200px 50px 50px;
    z-index: 1;
    animation: 
        bouncelogo 2s ease 0s infinite alternate forwards
        ;
}

@keyframes bouncelogo {
    from{transform: translateY(20px) scale(0.9);}
    to{transform: translateY(50px) scale(1.02);}
}

.element2   {

}

.element3   {
    
}


